{
    "openapi": "3.1.0",
    "info": {
        "title": "Rax",
        "contact": {},
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://api.ganpengyu.com",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/api/v1/fin/loan/update": {
            "post": {
                "tags": [
                    "融资接口"
                ],
                "summary": "更新融资",
                "operationId": "updateLoan",
                "parameters": [
                    {
                        "name": "updateLoanDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/UpdateLoanDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateLoanDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/loan/support/extFieldDef/update": {
            "post": {
                "tags": [
                    "融资支撑接口，提供非核心接口"
                ],
                "summary": "更新扩展字段定义",
                "operationId": "updateExtFieldDef",
                "parameters": [
                    {
                        "name": "updateFinLoanExtFieldDefDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/UpdateFinLoanExtFieldDefDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateFinLoanExtFieldDefDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/loan/support/extFieldDef/create": {
            "post": {
                "tags": [
                    "融资支撑接口，提供非核心接口"
                ],
                "summary": "创建扩展字段定义",
                "operationId": "createExtFieldDef",
                "parameters": [
                    {
                        "name": "createFinLoanExtFieldDefDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/CreateFinLoanExtFieldDefDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateFinLoanExtFieldDefDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/loan/page": {
            "post": {
                "tags": [
                    "融资接口"
                ],
                "summary": "分页查询融资列表",
                "operationId": "findLoanPage",
                "parameters": [
                    {
                        "name": "queryLoanDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/QueryLoanDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/QueryLoanDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultPageResultLoanDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/loan/create": {
            "post": {
                "tags": [
                    "融资接口"
                ],
                "summary": "创建融资",
                "operationId": "createLoan",
                "parameters": [
                    {
                        "name": "createLoanDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/CreateLoanDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateLoanDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/institution/page": {
            "post": {
                "tags": [
                    "金融机构接口"
                ],
                "summary": "分页查询金融机构",
                "operationId": "findInstitutionPage",
                "parameters": [
                    {
                        "name": "queryInstitutionDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/QueryInstitutionDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/QueryInstitutionDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultPageResultFinInstitutionDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/institution/create": {
            "post": {
                "tags": [
                    "金融机构接口"
                ],
                "summary": "创建金融机构",
                "operationId": "createInstitution",
                "parameters": [
                    {
                        "name": "createInstitutionDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/CreateInstitutionDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateInstitutionDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/lc/update": {
            "post": {
                "tags": [
                    "信用证接口"
                ],
                "summary": "更新信用证",
                "operationId": "updateLc",
                "parameters": [
                    {
                        "name": "updateDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/UpdateLoanLcDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateLoanLcDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/lc/page": {
            "post": {
                "tags": [
                    "信用证接口"
                ],
                "summary": "分页查询信用证",
                "operationId": "findLcPage",
                "parameters": [
                    {
                        "name": "queryDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/QueryLoanLcDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/QueryLoanLcDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultPageResultLoanLcDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/lc/map/update": {
            "post": {
                "tags": [
                    "信用证接口"
                ],
                "summary": "更新贷款-信用证关联信息",
                "operationId": "updateLcMap",
                "parameters": [
                    {
                        "name": "updateMapDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/UpdateLoanLcMapDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateLoanLcMapDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/lc/loan/{loanId}/add": {
            "post": {
                "tags": [
                    "信用证接口"
                ],
                "summary": "为贷款添加信用证关联",
                "operationId": "addLcToLoan",
                "parameters": [
                    {
                        "name": "loanId",
                        "in": "path",
                        "description": "贷款ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "createMapDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/CreateLoanLcMapDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateLoanLcMapDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/lc/create": {
            "post": {
                "tags": [
                    "信用证接口"
                ],
                "summary": "创建信用证",
                "operationId": "createLc",
                "parameters": [
                    {
                        "name": "createDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/CreateLoanLcDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateLoanLcDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/cd/update": {
            "post": {
                "tags": [
                    "存单接口"
                ],
                "summary": "更新存单",
                "operationId": "updateCd",
                "parameters": [
                    {
                        "name": "updateDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/UpdateLoanCdDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateLoanCdDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/cd/page": {
            "post": {
                "tags": [
                    "存单接口"
                ],
                "summary": "分页查询存单",
                "operationId": "findCdPage",
                "parameters": [
                    {
                        "name": "queryDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/QueryLoanCdDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/QueryLoanCdDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultPageResultLoanCdDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/cd/map/update": {
            "post": {
                "tags": [
                    "存单接口"
                ],
                "summary": "更新贷款-存单关联信息",
                "operationId": "updateCdMap",
                "parameters": [
                    {
                        "name": "updateMapDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/UpdateLoanCdMapDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateLoanCdMapDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/cd/loan/{loanId}/add": {
            "post": {
                "tags": [
                    "存单接口"
                ],
                "summary": "为贷款添加存单关联",
                "operationId": "addCdToLoan",
                "parameters": [
                    {
                        "name": "loanId",
                        "in": "path",
                        "description": "贷款ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "createMapDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/CreateLoanCdMapDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateLoanCdMapDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/cd/create": {
            "post": {
                "tags": [
                    "存单接口"
                ],
                "summary": "创建存单",
                "operationId": "createCd",
                "parameters": [
                    {
                        "name": "createDto",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/CreateLoanCdDto"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateLoanCdDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/loan/support/extFieldVal/list/{loanId}": {
            "get": {
                "tags": [
                    "融资支撑接口，提供非核心接口"
                ],
                "summary": "查询扩展字段值列表",
                "operationId": "getExtFieldValList",
                "parameters": [
                    {
                        "name": "loanId",
                        "in": "path",
                        "description": "融资ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultListFinLoanExtFieldValDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/loan/support/extFieldDef/remove/{id}": {
            "get": {
                "tags": [
                    "融资支撑接口，提供非核心接口"
                ],
                "summary": "删除扩展字段定义",
                "operationId": "removeExtFieldDef",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "字段定义ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/loan/support/extFieldDef/list/{productFamily}/{productType}": {
            "get": {
                "tags": [
                    "融资支撑接口，提供非核心接口"
                ],
                "summary": "查询扩展字段定义列表",
                "operationId": "getExtFieldDefList",
                "parameters": [
                    {
                        "name": "productFamily",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "productType",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultListFinLoanExtFieldDefDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/loan/support/extFieldDef/get/{id}": {
            "get": {
                "tags": [
                    "融资支撑接口，提供非核心接口"
                ],
                "summary": "查询扩展字段定义",
                "operationId": "getExtFieldDef",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "字段定义ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultFinLoanExtFieldDefDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/loan/remove/{id}": {
            "get": {
                "tags": [
                    "融资接口"
                ],
                "summary": "删除融资",
                "operationId": "removeLoan",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "融资ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/loan/get/{id}": {
            "get": {
                "tags": [
                    "融资接口"
                ],
                "summary": "查询融资详情（含关联数据）",
                "operationId": "findLoanDtoById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "融资ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultLoanDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/loan/get/basic/{id}": {
            "get": {
                "tags": [
                    "融资接口"
                ],
                "summary": "查询融资基础信息（不含关联数据）",
                "operationId": "findBasicLoanDtoById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "融资ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultLoanDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/lc/remove/{id}": {
            "get": {
                "tags": [
                    "信用证接口"
                ],
                "summary": "删除信用证",
                "operationId": "removeLc",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "信用证ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/lc/loan/{loanId}/remove/{lcId}": {
            "get": {
                "tags": [
                    "信用证接口"
                ],
                "summary": "删除贷款的信用证关联",
                "operationId": "removeLcFromLoan",
                "parameters": [
                    {
                        "name": "loanId",
                        "in": "path",
                        "description": "贷款ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "lcId",
                        "in": "path",
                        "description": "信用证ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/lc/loan/{loanId}/list": {
            "get": {
                "tags": [
                    "信用证接口"
                ],
                "summary": "查询贷款关联的所有信用证",
                "operationId": "findLcsByLoanId",
                "parameters": [
                    {
                        "name": "loanId",
                        "in": "path",
                        "description": "贷款ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultListLoanLcWithMapDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/lc/get/{id}": {
            "get": {
                "tags": [
                    "信用证接口"
                ],
                "summary": "查询信用证详情",
                "operationId": "findDtoById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "信用证ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultLoanLcDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/cd/remove/{id}": {
            "get": {
                "tags": [
                    "存单接口"
                ],
                "summary": "删除存单",
                "operationId": "removeCd",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "存单ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/cd/loan/{loanId}/remove/{cdId}": {
            "get": {
                "tags": [
                    "存单接口"
                ],
                "summary": "删除贷款的存单关联",
                "operationId": "removeCdFromLoan",
                "parameters": [
                    {
                        "name": "loanId",
                        "in": "path",
                        "description": "贷款ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "cdId",
                        "in": "path",
                        "description": "存单ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/cd/loan/{loanId}/list": {
            "get": {
                "tags": [
                    "存单接口"
                ],
                "summary": "查询贷款关联的所有存单",
                "operationId": "findCdsByLoanId",
                "parameters": [
                    {
                        "name": "loanId",
                        "in": "path",
                        "description": "贷款ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultListLoanCdWithMapDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/fin/bill/cd/get/{id}": {
            "get": {
                "tags": [
                    "存单接口"
                ],
                "summary": "查询存单详情",
                "operationId": "findDtoById_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "存单ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaxResultLoanCdDto"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "UpdateUserDto": {
                "type": "object",
                "description": "UpdateUserDto",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "用户ID"
                    },
                    "orgId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "用户所属组织 ID"
                    },
                    "mobile": {
                        "type": "string",
                        "description": "手机号"
                    },
                    "name": {
                        "type": "string",
                        "description": "用户名"
                    },
                    "gender": {
                        "type": "string",
                        "description": "性别"
                    },
                    "idCard": {
                        "type": "string",
                        "description": "身份证号"
                    },
                    "status": {
                        "type": "integer",
                        "format": "int32",
                        "description": "状态"
                    }
                },
                "required": [
                    "id"
                ]
            },
            "RaxResultBoolean": {
                "type": "object",
                "description": "RaxResult",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "description": "请求是否成功"
                    },
                    "message": {
                        "type": "string",
                        "description": "请求失败信息"
                    },
                    "data": {
                        "type": "boolean",
                        "description": "请求数据"
                    }
                }
            },
            "QueryUserDto": {
                "type": "object",
                "description": "QueryUserDto",
                "properties": {
                    "pageNo": {
                        "type": "integer",
                        "format": "int64",
                        "description": "当前页码",
                        "minimum": 1
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int64",
                        "description": "每页记录数",
                        "minimum": 1
                    },
                    "userId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "用户 ID"
                    },
                    "orgId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "用户所属组织 ID"
                    },
                    "mobile": {
                        "type": "string",
                        "description": "手机号"
                    },
                    "name": {
                        "type": "string",
                        "description": "用户名"
                    },
                    "status": {
                        "type": "integer",
                        "format": "int32",
                        "description": "状态"
                    }
                }
            },
            "PageResultSysUserDto": {
                "type": "object",
                "description": "PageResult",
                "properties": {
                    "rows": {
                        "type": "array",
                        "description": "请求数据",
                        "items": {
                            "$ref": "#/components/schemas/SysUserDto"
                        }
                    },
                    "pageNo": {
                        "type": "integer",
                        "format": "int64",
                        "description": "请求页码"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int64",
                        "description": "请求当页数据量"
                    },
                    "totalCount": {
                        "type": "integer",
                        "format": "int64",
                        "description": "数据总量"
                    },
                    "totalPages": {
                        "type": "integer",
                        "format": "int64",
                        "description": "总页数"
                    }
                }
            },
            "RaxResultPageResultSysUserDto": {
                "type": "object",
                "description": "RaxResult",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "description": "请求是否成功"
                    },
                    "message": {
                        "type": "string",
                        "description": "请求失败信息"
                    },
                    "data": {
                        "$ref": "#/components/schemas/PageResultSysUserDto",
                        "description": "请求数据"
                    }
                }
            },
            "SysUserDto": {
                "type": "object",
                "description": "SysUserDto",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "用户 ID"
                    },
                    "orgId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "用户所属组织 ID"
                    },
                    "orgName": {
                        "type": "string",
                        "description": "用户所属组织名称"
                    },
                    "orgNameAbbr": {
                        "type": "string",
                        "description": "用户所属组织名称简称"
                    },
                    "mobile": {
                        "type": "string",
                        "description": "手机号"
                    },
                    "name": {
                        "type": "string",
                        "description": "用户名"
                    },
                    "gender": {
                        "type": "string",
                        "description": "性别"
                    },
                    "idCard": {
                        "type": "string",
                        "description": "身份证号"
                    },
                    "isDefaultPassword": {
                        "type": "boolean",
                        "description": "是否初始化密码"
                    },
                    "status": {
                        "type": "integer",
                        "format": "int32",
                        "description": "状态"
                    },
                    "isDeleted": {
                        "type": "boolean",
                        "description": "是否删除"
                    },
                    "createTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "创建时间"
                    },
                    "createBy": {
                        "type": "string",
                        "description": "创建人"
                    },
                    "updateTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "信息更新时间"
                    },
                    "updateBy": {
                        "type": "string",
                        "description": "信息更新人"
                    }
                }
            },
            "CreateUserDto": {
                "type": "object",
                "description": "CreateUserDto",
                "properties": {
                    "orgId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "用户所属组织 ID"
                    },
                    "mobile": {
                        "type": "string",
                        "description": "手机号",
                        "minLength": 1
                    },
                    "name": {
                        "type": "string",
                        "description": "用户名",
                        "minLength": 1
                    },
                    "gender": {
                        "type": "string",
                        "description": "性别",
                        "minLength": 1
                    },
                    "idCard": {
                        "type": "string",
                        "description": "身份证号",
                        "minLength": 1
                    }
                },
                "required": [
                    "gender",
                    "idCard",
                    "mobile",
                    "name",
                    "orgId"
                ]
            },
            "ChangePasswordDto": {
                "type": "object",
                "description": "ChangePasswordDto",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "用户ID"
                    },
                    "oldPassword": {
                        "type": "string",
                        "description": "旧密码"
                    },
                    "newPassword": {
                        "type": "string",
                        "description": "新密码"
                    }
                },
                "required": [
                    "id",
                    "newPassword",
                    "oldPassword"
                ]
            },
            "UpdateRoleDto": {
                "type": "object",
                "description": "UpdateRoleDto",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "角色ID"
                    },
                    "code": {
                        "type": "string",
                        "description": "角色编码"
                    },
                    "name": {
                        "type": "string",
                        "description": "角色名称"
                    },
                    "comment": {
                        "type": "string",
                        "description": "角色说明"
                    }
                },
                "required": [
                    "id"
                ]
            },
            "QueryRoleDto": {
                "type": "object",
                "properties": {
                    "pageNo": {
                        "type": "integer",
                        "format": "int64",
                        "description": "当前页码",
                        "minimum": 1
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int64",
                        "description": "每页记录数",
                        "minimum": 1
                    },
                    "name": {
                        "type": "string",
                        "description": "角色名称"
                    }
                }
            },
            "PageResultSysRoleDto": {
                "type": "object",
                "description": "PageResult",
                "properties": {
                    "rows": {
                        "type": "array",
                        "description": "请求数据",
                        "items": {
                            "$ref": "#/components/schemas/SysRoleDto"
                        }
                    },
                    "pageNo": {
                        "type": "integer",
                        "format": "int64",
                        "description": "请求页码"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int64",
                        "description": "请求当页数据量"
                    },
                    "totalCount": {
                        "type": "integer",
                        "format": "int64",
                        "description": "数据总量"
                    },
                    "totalPages": {
                        "type": "integer",
                        "format": "int64",
                        "description": "总页数"
                    }
                }
            },
            "RaxResultPageResultSysRoleDto": {
                "type": "object",
                "description": "RaxResult",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "description": "请求是否成功"
                    },
                    "message": {
                        "type": "string",
                        "description": "请求失败信息"
                    },
                    "data": {
                        "$ref": "#/components/schemas/PageResultSysRoleDto",
                        "description": "请求数据"
                    }
                }
            },
            "SysRoleDto": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "角色ID"
                    },
                    "code": {
                        "type": "string",
                        "description": "角色编码"
                    },
                    "name": {
                        "type": "string",
                        "description": "角色名称"
                    },
                    "comment": {
                        "type": "string",
                        "description": "角色说明"
                    },
                    "isDeleted": {
                        "type": "boolean",
                        "description": "是否删除"
                    }
                }
            },
            "CreateRoleDto": {
                "type": "object",
                "description": "CreateRoleDto",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "角色编码",
                        "minLength": 1
                    },
                    "name": {
                        "type": "string",
                        "description": "角色名称",
                        "minLength": 1
                    },
                    "comment": {
                        "type": "string",
                        "description": "角色说明"
                    }
                },
                "required": [
                    "code",
                    "name"
                ]
            },
            "UpdateResourceDto": {
                "type": "object",
                "description": "UpdateResourceDto",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "资源ID"
                    },
                    "code": {
                        "type": "string",
                        "description": "资源编码"
                    },
                    "name": {
                        "type": "string",
                        "description": "资源名称"
                    },
                    "type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "资源类型. 0:目录, 1:菜单, 2:按钮"
                    },
                    "parentId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "父级资源ID. 0表示没有父级资源"
                    },
                    "path": {
                        "type": "string",
                        "description": "资源路径"
                    },
                    "component": {
                        "type": "string",
                        "description": "资源组件"
                    },
                    "icon": {
                        "type": "string",
                        "description": "资源图标"
                    },
                    "sort": {
                        "type": "integer",
                        "format": "int32",
                        "description": "资源排序"
                    },
                    "isHidden": {
                        "type": "boolean",
                        "description": "是否隐藏"
                    },
                    "isKeepAlive": {
                        "type": "boolean",
                        "description": "是否缓存"
                    },
                    "isExternalLink": {
                        "type": "boolean",
                        "description": "是否外部链接"
                    }
                },
                "required": [
                    "id"
                ]
            },
            "CreateResourceDto": {
                "type": "object",
                "description": "CreateResourceDto",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "资源编码",
                        "minLength": 1
                    },
                    "name": {
                        "type": "string",
                        "description": "资源名称",
                        "minLength": 1
                    },
                    "type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "资源类型. 0:目录, 1:菜单, 2:按钮"
                    },
                    "parentId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "父级资源ID. 0表示没有父级资源"
                    },
                    "path": {
                        "type": "string",
                        "description": "资源路径"
                    },
                    "component": {
                        "type": "string",
                        "description": "资源组件"
                    },
                    "icon": {
                        "type": "string",
                        "description": "资源图标"
                    },
                    "sort": {
                        "type": "integer",
                        "format": "int32",
                        "description": "资源排序"
                    },
                    "isHidden": {
                        "type": "boolean",
                        "description": "是否隐藏"
                    },
                    "isKeepAlive": {
                        "type": "boolean",
                        "description": "是否缓存"
                    },
                    "isExternalLink": {
                        "type": "boolean",
                        "description": "是否外部链接"
                    }
                },
                "required": [
                    "code",
                    "name",
                    "parentId",
                    "type"
                ]
            },
            "UpdateOrgDto": {
                "type": "object",
                "description": "UpdateOrgDto",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "组织ID"
                    },
                    "name": {
                        "type": "string",
                        "description": "组织名称"
                    },
                    "nameAbbr": {
                        "type": "string",
                        "description": "组织简称"
                    },
                    "comment": {
                        "type": "string",
                        "description": "组织描述"
                    },
                    "parentId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "组织父级ID",
                        "minimum": 0
                    }
                },
                "required": [
                    "id"
                ]
            },
            "CreateOrgDto": {
                "type": "object",
                "description": "CreateOrgDto",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "组织名称",
                        "minLength": 1
                    },
                    "nameAbbr": {
                        "type": "string",
                        "description": "组织简称",
                        "minLength": 1
                    },
                    "comment": {
                        "type": "string",
                        "description": "组织描述"
                    },
                    "parentId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "组织父级ID",
                        "minimum": 0
                    }
                },
                "required": [
                    "name",
                    "nameAbbr"
                ]
            },
            "CreateReserveCostDto": {
                "type": "object",
                "description": "CreateReserveCostDto",
                "properties": {
                    "costType": {
                        "type": "string",
                        "description": "成本类型",
                        "minLength": 1
                    },
                    "costDescription": {
                        "type": "string",
                        "description": "成本描述",
                        "minLength": 1
                    }
                },
                "required": [
                    "costDescription",
                    "costType"
                ]
            },
            "UpdateReserveDto": {
                "type": "object",
                "description": "UpdateReserveDto",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "储备融资ID"
                    },
                    "orgId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "融资主体 ID"
                    },
                    "financialInstitutionId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "金融机构 ID"
                    },
                    "fundingMode": {
                        "type": "string",
                        "description": "融资方式",
                        "minLength": 1
                    },
                    "fundingAmount": {
                        "type": "number",
                        "description": "融资金额,以分计算",
                        "minimum": 1
                    },
                    "expectedDisbursementDate": {
                        "type": "string",
                        "format": "date",
                        "description": "预计放款日期"
                    },
                    "loanRenewalFromId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "续贷来源 ID. 0 表示非续贷"
                    },
                    "leaderName": {
                        "type": "string",
                        "description": "牵头领导名称"
                    },
                    "handlerName": {
                        "type": "string",
                        "description": "经办人名称"
                    },
                    "combinedRatio": {
                        "type": "number",
                        "description": "综合成本率"
                    },
                    "additionalCosts": {
                        "type": "number",
                        "description": "额外成本. 单位：分"
                    },
                    "status": {
                        "type": "string",
                        "format": "byte",
                        "description": "状态. 0:待放款, 1:已放款, 2:已取消"
                    },
                    "costs": {
                        "type": "array",
                        "description": "储备融资成本列表",
                        "items": {
                            "$ref": "#/components/schemas/CreateReserveCostDto"
                        }
                    },
                    "progresses": {
                        "type": "array",
                        "description": "储备融资进度列表",
                        "items": {
                            "$ref": "#/components/schemas/UpdateReserveProgressDto"
                        }
                    }
                },
                "required": [
                    "combinedRatio",
                    "expectedDisbursementDate",
                    "fundingAmount",
                    "fundingMode",
                    "id"
                ]
            },
            "UpdateReserveProgressDto": {
                "type": "object",
                "description": "UpdateReserveProgressDto",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "储备融资进度 ID"
                    },
                    "planDate": {
                        "type": "string",
                        "format": "date",
                        "description": "计划完成日期"
                    },
                    "actualDate": {
                        "type": "string",
                        "format": "date",
                        "description": "实际完成日期"
                    }
                }
            },
            "CreateReserveReportDto": {
                "type": "object",
                "description": "CreateReserveReportDto",
                "properties": {
                    "reserveId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "储备融资 ID"
                    },
                    "reportContent": {
                        "type": "string",
                        "description": "报告内容",
                        "minLength": 1
                    },
                    "uploadedAttachments": {
                        "type": "array",
                        "description": "附件信息列表",
                        "items": {
                            "$ref": "#/components/schemas/UploadedAttachmentDto"
                        }
                    }
                },
                "required": [
                    "reportContent",
                    "reserveId"
                ]
            },
            "UploadedAttachmentDto": {
                "type": "object",
                "description": "UploadedDto",
                "properties": {
                    "attachmentId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "附件ID"
                    },
                    "fileSize": {
                        "type": "integer",
                        "format": "int64",
                        "description": "文件大小. 单位：byte"
                    }
                }
            },
            "QueryReserveDto": {
                "type": "object",
                "description": "QueryReserveDto",
                "properties": {
                    "pageNo": {
                        "type": "integer",
                        "format": "int64",
                        "description": "当前页码",
                        "minimum": 1
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int64",
                        "description": "每页记录数",
                        "minimum": 1
                    },
                    "reserveId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "储备融资 ID"
                    },
                    "reserveIds": {
                        "type": "array",
                        "description": "储备融资 ID列表",
                        "items": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "orgId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "融资主体 ID"
                    },
                    "institutionType": {
                        "type": "string",
                        "format": "byte",
                        "description": "金融机构类型. 1: 银行, 2: 非银行金融机构"
                    },
                    "financialInstitutionName": {
                        "type": "string",
                        "description": "金融机构名称"
                    },
                    "financialInstitutionBranchName": {
                        "type": "string",
                        "description": "金融机构分支名称"
                    },
                    "fundingMode": {
                        "type": "string",
                        "description": "融资方式"
                    },
                    "expectedDisbursementDateStart": {
                        "type": "string",
                        "format": "date",
                        "description": "起始预计放款日期"
                    },
                    "expectedDisbursementDateEnd": {
                        "type": "string",
                        "format": "date",
                        "description": "截止预计放款日期"
                    },
                    "isRenewal": {
                        "type": "boolean",
                        "description": "是否为续贷"
                    },
                    "leaderName": {
                        "type": "string",
                        "description": "牵头领导名称"
                    },
                    "handlerName": {
                        "type": "string",
                        "description": "经办人名称"
                    },
                    "status": {
                        "type": "string",
                        "format": "byte",
                        "description": "状态. 0:待放款, 1:已放款, 2:已取消"
                    }
                }
            },
            "FinReserveCostDto": {
                "type": "object",
                "description": "FinReserveCostDto",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "储备融资成本 ID"
                    },
                    "reserveId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "储备融资 ID"
                    },
                    "costType": {
                        "type": "string",
                        "description": "成本类型"
                    },
                    "costDescription": {
                        "type": "string",
                        "description": "成本描述"
                    },
                    "createTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "创建时间"
                    },
                    "createBy": {
                        "type": "string",
                        "description": "创建人"
                    }
                }
            },
            "FinReserveDto": {
                "type": "object",
                "description": "FinReserveDto",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "储备融资ID"
                    },
                    "orgId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "融资主体 ID"
                    },
                    "orgName": {
                        "type": "string",
                        "description": "融资主体名称"
                    },
                    "orgNameAbbr": {
                        "type": "string",
                        "description": "融资主体简称"
                    },
                    "institutionType": {
                        "type": "string",
                        "format": "byte",
                        "description": "金融机构类型. 1: 银行, 2: 非银行金融机构"
                    },
                    "financialInstitutionId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "金融机构 ID"
                    },
                    "financialInstitutionName": {
                        "type": "string",
                        "description": "金融机构名称"
                    },
                    "financialInstitutionBranchName": {
                        "type": "string",
                        "description": "金融机构分支名称"
                    },
                    "fundingMode": {
                        "type": "string",
                        "description": "融资方式"
                    },
                    "fundingAmount": {
                        "type": "integer",
                        "format": "int64",
                        "description": "融资金额. 单位：分"
                    },
                    "expectedDisbursementDate": {
                        "type": "string",
                        "format": "date",
                        "description": "预计放款日期"
                    },
                    "loanRenewalFromId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "续贷来源 ID. 0 表示非续贷"
                    },
                    "leaderName": {
                        "type": "string",
                        "description": "牵头领导名称"
                    },
                    "handlerName": {
                        "type": "string",
                        "description": "经办人名称"
                    },
                    "combinedRatio": {
                        "type": "number",
                        "description": "综合成本率"
                    },
                    "additionalCosts": {
                        "type": "integer",
                        "format": "int64",
                        "description": "额外成本. 单位：分"
                    },
                    "status": {
                        "type": "string",
                        "format": "byte",
                        "description": "状态. 0:待放款, 1:已放款, 2:已取消"
                    },
                    "createTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "创建时间"
                    },
                    "createBy": {
                        "type": "string",
                        "description": "创建人"
                    },
                    "updateTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "信息更新时间"
                    },
                    "updateBy": {
                        "type": "string",
                        "description": "信息更新人"
                    },
                    "costs": {
                        "type": "array",
                        "description": "储备融资成本列表",
                        "items": {
                            "$ref": "#/components/schemas/FinReserveCostDto"
                        }
                    },
                    "progresses": {
                        "type": "array",
                        "description": "储备融资进度列表",
                        "items": {
                            "$ref": "#/components/schemas/FinReserveProgressDto"
                        }
                    },
                    "reports": {
                        "type": "array",
                        "description": "储备融资报告列表",
                        "items": {
                            "$ref": "#/components/schemas/FinReserveReportDto"
                        }
                    }
                }
            },
            "FinReserveProgressDto": {
                "type": "object",
                "description": "FinReserveProgressDto",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "储备融资进度 ID"
                    },
                    "reserveId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "储备融资 ID"
                    },
                    "progressName": {
                        "type": "string",
                        "description": "进度名称"
                    },
                    "planDate": {
                        "type": "string",
                        "format": "date",
                        "description": "计划完成日期"
                    },
                    "actualDate": {
                        "type": "string",
                        "format": "date",
                        "description": "实际完成日期"
                    },
                    "createTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "创建时间"
                    },
                    "createBy": {
                        "type": "string",
                        "description": "创建人"
                    },
                    "updateTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "信息更新时间"
                    },
                    "updateBy": {
                        "type": "string",
                        "description": "信息更新人"
                    }
                }
            },
            "FinReserveReportDto": {
                "type": "object",
                "description": "FinReserveReportDto",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "储备融资进度报告 ID"
                    },
                    "reserveId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "储备融资 ID"
                    },
                    "reportContent": {
                        "type": "string",
                        "description": "报告内容"
                    },
                    "createTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "创建时间"
                    },
                    "createBy": {
                        "type": "string",
                        "description": "创建人"
                    },
                    "attachments": {
                        "type": "array",
                        "description": "附件列表",
                        "items": {
                            "$ref": "#/components/schemas/SysAttachmentDto"
                        }
                    }
                }
            },
            "PageResultFinReserveDto": {
                "type": "object",
                "description": "PageResult",
                "properties": {
                    "rows": {
                        "type": "array",
                        "description": "请求数据",
                        "items": {
                            "$ref": "#/components/schemas/FinReserveDto"
                        }
                    },
                    "pageNo": {
                        "type": "integer",
                        "format": "int64",
                        "description": "请求页码"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int64",
                        "description": "请求当页数据量"
                    },
                    "totalCount": {
                        "type": "integer",
                        "format": "int64",
                        "description": "数据总量"
                    },
                    "totalPages": {
                        "type": "integer",
                        "format": "int64",
                        "description": "总页数"
                    }
                }
            },
            "RaxResultPageResultFinReserveDto": {
                "type": "object",
                "description": "RaxResult",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "description": "请求是否成功"
                    },
                    "message": {
                        "type": "string",
                        "description": "请求失败信息"
                    },
                    "data": {
                        "$ref": "#/components/schemas/PageResultFinReserveDto",
                        "description": "请求数据"
                    }
                }
            },
            "SysAttachmentDto": {
                "type": "object",
                "description": "SysAttachmentDto",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "附件ID"
                    },
                    "bizModule": {
                        "type": "string",
                        "description": "业务模块名称"
                    },
                    "bizId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "业务数据 ID"
                    },
                    "originalName": {
                        "type": "string",
                        "description": "原文件名"
                    },
                    "savedName": {
                        "type": "string",
                        "description": "存储文件名"
                    },
                    "extension": {
                        "type": "string",
                        "description": "文件扩展名"
                    },
                    "fileSize": {
                        "type": "integer",
                        "format": "int64",
                        "description": "文件大小. 以byte为单位"
                    },
                    "isDeleted": {
                        "type": "boolean",
                        "description": "是否删除. 0:否, 1:是"
                    },
                    "createTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "创建时间"
                    },
                    "createBy": {
                        "type": "string",
                        "description": "创建人"
                    }
                }
            },
            "CreateReserveDto": {
                "type": "object",
                "description": "CreateReserveDto",
                "properties": {
                    "orgId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "融资主体 ID"
                    },
                    "financialInstitutionId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "金融机构 ID"
                    },
                    "fundingMode": {
                        "type": "string",
                        "description": "融资方式",
                        "minLength": 1
                    },
                    "fundingAmount": {
                        "type": "integer",
                        "format": "int64",
                        "description": "融资金额，以分计算",
                        "minimum": 1
                    },
                    "expectedDisbursementDate": {
                        "type": "string",
                        "format": "date",
                        "description": "预计放款日期"
                    },
                    "loanRenewalFromId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "续贷来源 ID. 0 表示非续贷"
                    },
                    "leaderName": {
                        "type": "string",
                        "description": "牵头领导名称"
                    },
                    "handlerName": {
                        "type": "string",
                        "description": "经办人名称"
                    },
                    "combinedRatio": {
                        "type": "number",
                        "description": "综合成本率"
                    },
                    "additionalCosts": {
                        "type": "integer",
                        "format": "int64",
                        "description": "额外成本，以分计算"
                    },
                    "costs": {
                        "type": "array",
                        "description": "储备融资成本列表",
                        "items": {
                            "$ref": "#/components/schemas/CreateReserveCostDto"
                        }
                    },
                    "progresses": {
                        "type": "array",
                        "description": "储备融资进度列表",
                        "items": {
                            "$ref": "#/components/schemas/CreateReserveProgressDto"
                        }
                    }
                },
                "required": [
                    "combinedRatio",
                    "expectedDisbursementDate",
                    "fundingAmount",
                    "fundingMode"
                ]
            },
            "CreateReserveProgressDto": {
                "type": "object",
                "description": "CreateReserveProgressDto",
                "properties": {
                    "progressName": {
                        "type": "string",
                        "description": "进度名称",
                        "minLength": 1
                    },
                    "planDate": {
                        "type": "string",
                        "format": "date",
                        "description": "计划完成日期"
                    }
                },
                "required": [
                    "planDate",
                    "progressName"
                ]
            },
            "CancelReserveDto": {
                "type": "object",
                "description": "CancelReserveDto",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "储备融资 ID"
                    },
                    "cancelReport": {
                        "$ref": "#/components/schemas/CreateReserveReportDto",
                        "description": "取消原因"
                    }
                }
            },
            "CreateFactoringArItemDto": {
                "type": "object",
                "description": "创建保理应收明细DTO",
                "properties": {
                    "invoiceNo": {
                        "type": "string",
                        "description": "发票号/应收编号",
                        "minLength": 1
                    },
                    "debtorName": {
                        "type": "string",
                        "description": "买方/债务人名称",
                        "minLength": 1
                    },
                    "arFaceAmount": {
                        "type": "integer",
                        "format": "int64",
                        "description": "应收票面金额(分)"
                    },
                    "assignedAmount": {
                        "type": "integer",
                        "format": "int64",
                        "description": "转让/已融资金额(分)"
                    },
                    "issueDate": {
                        "type": "string",
                        "format": "date",
                        "description": "开具/应收形成日期"
                    },
                    "dueDate": {
                        "type": "string",
                        "format": "date",
                        "description": "到期日"
                    },
                    "paidFlag": {
                        "type": "boolean",
                        "description": "是否已回款：0否 1是"
                    },
                    "paidDate": {
                        "type": "string",
                        "format": "date",
                        "description": "回款日期（如已回款）"
                    },
                    "status": {
                        "type": "string",
                        "description": "状态（在途/已回购/已核销等）"
                    },
                    "remark": {
                        "type": "string",
                        "description": "备注"
                    },
                    "fileAttachments": {
                        "type": "array",
                        "description": "文件附件列表",
                        "items": {
                            "$ref": "#/components/schemas/UploadedAttachmentDto"
                        }
                    }
                },
                "required": [
                    "arFaceAmount",
                    "debtorName",
                    "dueDate",
                    "invoiceNo",
                    "issueDate"
                ]
            },
            "CreateFinLoanExtFieldValDto": {
                "type": "object",
                "description": "CreateFinLoanExtFieldValDto",
                "properties": {
                    "loanId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "融资ID"
                    },
                    "fieldKey": {
                        "type": "string",
                        "description": "字段键，对应定义表的 field_key"
                    },
                    "dataType": {
                        "type": "string",
                        "description": "字段数据类型"
                    },
                    "valueStr": {
                        "type": "string",
                        "description": "字段值-字符串"
                    },
                    "valueNum": {
                        "type": "number",
                        "description": "字段值-数字"
                    },
                    "valueDate": {
                        "type": "string",
                        "format": "date",
                        "description": "字段值-日期"
                    },
                    "valueDt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "字段值-日期时间"
                    },
                    "valueBool": {
                        "type": "boolean",
                        "description": "字段值-布尔"
                    },
                    "remark": {
                        "type": "string",
                        "description": "备注"
                    }
                }
            },
            "CreateLeasedAssetDto": {
                "type": "object",
                "description": "创建融资租赁租赁物DTO",
                "properties": {
                    "assetId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "固定资产ID"
                    },
                    "assetCodeSnapshot": {
                        "type": "string",
                        "description": "资产编码快照"
                    },
                    "assetNameSnapshot": {
                        "type": "string",
                        "description": "资产名称快照"
                    },
                    "quantity": {
                        "type": "number",
                        "description": "数量"
                    },
                    "unit": {
                        "type": "string",
                        "description": "计量单位"
                    },
                    "bookValueAtLease": {
                        "type": "integer",
                        "format": "int64",
                        "description": "签约时账面价值(分)"
                    },
                    "appraisedValueAtLease": {
                        "type": "integer",
                        "format": "int64",
                        "description": "签约时评估/认可价值(分)"
                    },
                    "serialNo": {
                        "type": "string",
                        "description": "序列号/车架号等"
                    },
                    "remark": {
                        "type": "string",
                        "description": "备注"
                    },
                    "fileAttachments": {
                        "type": "array",
                        "description": "文件附件列表",
                        "items": {
                            "$ref": "#/components/schemas/UploadedAttachmentDto"
                        }
                    }
                }
            },
            "CreateLoanCdMapDto": {
                "type": "object",
                "description": "创建贷款-存单关联DTO",
                "properties": {
                    "cdId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "存单ID"
                    },
                    "pledgeRatio": {
                        "type": "number",
                        "description": "质押比例(%)"
                    },
                    "securedValue": {
                        "type": "integer",
                        "format": "int64",
                        "description": "本贷款下的认可/计价价值(分)"
                    },
                    "registrationNo": {
                        "type": "string",
                        "description": "抵/质押登记号"
                    },
                    "registrationDate": {
                        "type": "string",
                        "format": "date",
                        "description": "抵/质押登记日期"
                    },
                    "releaseDate": {
                        "type": "string",
                        "format": "date",
                        "description": "解押日期"
                    },
                    "status": {
                        "type": "string",
                        "description": "关联状态"
                    },
                    "voucherNo": {
                        "type": "string",
                        "description": "记账凭证编号"
                    },
                    "remark": {
                        "type": "string",
                        "description": "备注"
                    }
                },
                "required": [
                    "cdId"
                ]
            },
            "CreateLoanLcMapDto": {
                "type": "object",
                "description": "创建贷款-信用证关联DTO",
                "properties": {
                    "lcId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "信用证ID"
                    },
                    "securedValue": {
                        "type": "integer",
                        "format": "int64",
                        "description": "本贷款下的认可金额(分)"
                    },
                    "marginLockedAmount": {
                        "type": "integer",
                        "format": "int64",
                        "description": "本贷款下实际冻结/占用的保证金金额(分)"
                    },
                    "allocationNote": {
                        "type": "string",
                        "description": "本贷款下的用途/分配说明"
                    },
                    "status": {
                        "type": "string",
                        "description": "关联状态"
                    },
                    "remark": {
                        "type": "string",
                        "description": "备注"
                    }
                },
                "required": [
                    "lcId"
                ]
            },
            "CreateLoanParticipantDto": {
                "type": "object",
                "description": "CreateLoanParticipantDto",
                "properties": {
                    "role": {
                        "type": "string",
[...]
